@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background-color: #17191c;
  overscroll-behavior: contain;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'cowboy';
  src: local('GoldmanBold'), url('./fonts/Cowboy_Movie.ttf') format('truetype');
  font-weight: bold;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.z-1000 {
  z-index: 1000;
}

.cowboy {
  font-family: 'cowboy' !important;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 5px;
  background-color: #cccccc00;
}

*::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 12px;
}

.nav-logo-shadow {
  box-shadow: 0px 0px 22px 3px rgba(161, 43, 43, 0.75);
  -webkit-box-shadow: 0px 0px 22px 3px rgba(161, 43, 43, 0.75);
  -moz-box-shadow: 0px 0px 22px 3px rgba(161, 43, 43, 0.75);
}

.center-absolute-x {
  left: 50%;
  transform: translateX(-50%);
}

/* ******************************** */
/* ******  Socials BG   ********* */
/* ******************************** */

.socials-background {
  background: rgb(2, 0, 36);
  background: -moz-linear-gradient(
    90deg,
    rgba(16, 15, 18, 0.7) 0%,
    rgba(19, 19, 22, 0.7) 50%,
    rgba(20, 22, 29, 0.7) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(16, 15, 18, 0.7) 0%,
    rgba(19, 19, 22, 0.7) 50%,
    rgba(20, 22, 29, 0.7) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(16, 15, 18, 0.7) 0%,
    rgba(19, 19, 22, 0.7) 50%,
    rgba(20, 22, 29, 0.7) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#000412",GradientType=1);
}

/* ******************************** */
/* ******  START SCREEN   ********* */
/* ******************************** */

.start-screen-background {
  background: rgb(2, 0, 36);
  background: -moz-linear-gradient(
    90deg,
    rgba(16, 15, 18, 0.7) 0%,
    rgba(19, 19, 22, 0.7) 50%,
    rgba(20, 22, 29, 0.7) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(16, 15, 18, 0.7) 0%,
    rgba(19, 19, 22, 0.7) 50%,
    rgba(20, 22, 29, 0.7) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(16, 15, 18, 0.7) 0%,
    rgba(19, 19, 22, 0.7) 50%,
    rgba(20, 22, 29, 0.7) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#000412",GradientType=1);
}

.slide-bottom {
  -webkit-animation: slide-bottom 2s infinite 0.2s both;
  animation: slide-bottom 2s infinite 0.2s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-3-22 13:20:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 1;
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 1;
  }
}

.down-arrow {
  border-right: 5px solid;
  border-bottom: 5px solid;
  border-color: aliceblue;
  height: 40px;
  width: 40px;
  transform: rotate(45deg);
}

/* ----------------------------------------------
 * Generated by Animista on 2023-6-14 17:5:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */

.fade-out {
  -webkit-animation: fade-out 1.5s linear both;
  animation: fade-out 1.5s linear both;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */

.fade-in {
  -webkit-animation: fade-in 1.5s linear both;
  animation: fade-in 1.5s linear both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 




*/
/* Animated UI Special Classes */

@keyframes exitAnimation {
  from {
    opacity: 1;
    scale: 1;
  }

  to {
    opacity: 0;
    scale: 0;
  }
}

.exitAnimation {
  animation: exitAnimation 1s ease-out;
}

/*  */

@keyframes entranceAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.entranceAnimation {
  animation: entranceAnimation 0.8s ease forwards;
}

/*  */

@keyframes entranceButtonAnimation {
  from {
    transform: rotate(45deg);
    opacity: 0;
    scale: 0;
  }

  to {
    transform: rotate(0deg);
    opacity: 1;
    scale: 1;
  }
}

.entranceButtonAnimation {
  animation: entranceButtonAnimation 0.8s ease forwards;
}

/*  */

@keyframes exitButtonAnimation {
  from {
    transform: rotate(0deg);
    opacity: 1;
    scale: 1;
  }

  to {
    transform: rotate(45deg);
    opacity: 0;
    scale: 0;
  }
}

.exitButtonAnimation {
  animation: exitButtonAnimation 0.8s ease forwards;
}

/*  */

@keyframes lineAnimation {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.line-animation {
  width: 50%;
  height: 2px;
  background-color: white;
  animation: lineAnimation 1.2s ease-in-out forwards;
  transform-origin: left;
}

.logo-width {
  width: 320px;
}

@media all and (max-width: 1020px) and (min-width: 300px) {
  .logo-width {
    width: 280px;
  }
}
/* 
.dot-animation {
  animation: dot-animation 2s ease-in-out infinite;
}

@keyframes dot-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */
